.menu {
  background-image: url("../images/background_menu.svg");
  background-size: cover;
  background-position: center;
  background-color: #fff;
}

.menu__title {
  max-width: 780px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
}

.menu__title__description {
  max-width: 780px;
  font-family: "Inter";
  font-size: 20px;
  line-height: 30px;
  margin: 0 auto;
  padding: 24px 0 100px;
  text-align: center;
}

.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.card {
  width: 540px;
}

.card__title {
  font-family: "Inter";
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
}

.card__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 16px;
}

.card__list-item {
  font-family: "Noto Serif";
  font-size: 16px;
  line-height: 20px;
  display: flex;
  gap: 4px;
}

.card__list-divider {
  border-bottom: #888 solid;
  flex-grow: 1;
}