.reservation {
  background-image: url("../images/background_reservation.svg");
  background-size: cover;
  background-color: #D9E7FF;
  font-family: "Inter";
}

.reservation__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding-top: 100px;
  padding-bottom: 80px;
  margin: 0;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 120px;
  max-width: 385px;
}

.reservation__form {
  margin: 0 auto;
}

.form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  gap: 8px;
  padding: 0;
}

.form__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  padding: 15px 20px;
  border: 1px solid #838383;
  border-radius: 4px;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  background: #1878DC;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-width: 385px;
  padding: 20px 0;
  margin-bottom: 32px;
  transition: background 1s ease;
}

.form__button:hover {
  background: #3f96f3;
  cursor: pointer;
}

.form__checkbox-wrapper {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.form__checkbox {
  border-radius: 2px;
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;
}